<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="container">
        <div class="d-flex flex-wrap">
            <% for(var index=0; index < itemData.length; index++){ %>

                <div class="card border-secondary m-1" style="max-width: 20rem;">
                    <img class="card-img-top" src="<%= itemData[index].data()['photo_url'] %>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%= itemData[index].data()['name'] %>
                        </h4>
                        <p class="card-text">
                            <%= itemData[index].data()['description'] %>.
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </main>
    <footer>
    </footer>

    <%- include('../partials/script'); %>
</body>

</html>